[core]
    excludesfile = /Users/ricardocino/.gitignore_global
    editor = vim
    autocrlf = input
[user]
    name = Ricardo Cino
    email = 2735602+cino@users.noreply.github.com
[commit]
    template = /Users/ricardocino/.stCommitMsgi
	gpgsign = true
[alias]
    sshow = !sh -c 'git stash show stash^{/$*} -p' -
    sapply = !sh -c 'git stash apply stash^{/$*}' -
    ssave = !sh -c 'git stash save "${1}"' -
[hub]
    protocol = https
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = store
