{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

################################################################################
# Setup                                                                        #
################################################################################

# Close any open System Preferences panes to prevent them from overriding
osascript -e 'tell application "System Preferences" to quit'

# Ask for the administrator password upfront
sudo -v

# Keep-alive: update existing `sudo` time stamp until `macos.sh` has finished
while true; do sudo -n true; sleep 60; kill -0 "$$" || exit; done 2>/dev/null &

###
# General
###

# Expand save panel by default
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode2 -bool true

# Expand print panel by default
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint2 -bool true

# Disable the “Are you sure you want to open this application?” dialog
defaults write com.apple.LaunchServices LSQuarantine -bool false

# Require password immediately after sleep or screen saver begins
defaults write com.apple.Screensaver askForPassword -int 1
defaults write com.apple.Screensaver askForPasswordDelay -int 0

# Show the battery percentage in the menu bar
defaults write com.apple.menuextra.battery ShowPercent -bool true

# Select dark mode
defaults write NSGlobalDomain AppleInterfaceStyle -string "Dark"

###
# App Store
###

# Check for software updates daily, not just once per week
defaults write com.apple.SoftwareUpdate ScheduleFrequency -int 1

###
# Dock
###

# Enable spring loading for all Dock items
defaults write com.apple.Dock enable-spring-load-actions-on-all-items -bool true

# Don't automatically rearrange Spaces based on most recent use
defaults write com.apple.Dock mru-spaces -bool false

# Don't show recent applications
defaults write com.apple.Dock show-recents -bool false

# Set the icon size of Dock items to 16 pixels
defaults write com.apple.Dock tilesize -integer 16


################################################################################
# Finder                                                                       #
################################################################################

# Enable snap-to-grid for icons on the desktop and in other icon views
/usr/libexec/PlistBuddy -c "Set :DesktopViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.Finder.plist
#/usr/libexec/PlistBuddy -c "Set :FK_StandardViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.Finder.plist
/usr/libexec/PlistBuddy -c "Set :StandardViewSettings:IconViewSettings:arrangeBy grid" ~/Library/Preferences/com.apple.Finder.plist

# Avoid creating .DS_Store files on network or USB volumes
defaults write com.apple.DesktopServices DSDontWriteNetworkStores -bool true
defaults write com.apple.DesktopServices DSDontWriteUSBStores -bool true

# Keep folders on top when sorting by name
defaults write com.apple.Finder _FXSortFoldersFirst -bool true

# Expand the following File Info panes:
defaults write com.apple.Finder FXInfoPanesExpanded -dict \
    General -bool true \
    OpenWith -bool true \
    Preview -bool true \
    Privileges -bool true

# Use list view in all Finder windows by default
# Four-letter codes for the other view modes: `icnv`, `clmv`, `Flwv`
defaults write com.apple.Finder FXPreferredViewStyle -string "clmv"

# Group files by application
defaults write com.apple.Finder FXPreferredGroupBy -string "Kind"

# Remove items from the Trash after 30 days
defaults write com.apple.Finder FXRemoveOldTrashItems -bool true

# Hide icons for hard drives, removable media, and servers on the desktop
defaults write com.apple.Finder ShowExternalHardDrivesOnDesktop -bool false
defaults write com.apple.Finder ShowHardDrivesOnDesktop -bool false
defaults write com.apple.Finder ShowMountedServersOnDesktop -bool false
defaults write com.apple.Finder ShowRemovableMediaOnDesktop -bool false

# Automatically open a new Finder window when a volume is mounted
defaults write com.apple.frameworks.diskimages auto-open-ro-root -bool true
defaults write com.apple.frameworks.diskimages auto-open-rw-root -bool true
defaults write com.apple.finder OpenWindowForNewRemovableDisk -bool true

# Show path bar in Finder
defaults write com.apple.finder "ShowPathbar" -bool "true" && killall Finder

#################################################################################
# Siri                                                                          #
#################################################################################

# Hide the status menu icon
defaults write com.apple.Siri StatusMenuVisible -bool false

#################################################################################
# Terminal                                                                      #
#################################################################################

# Enable Secure Keyboard Entry in Terminal.app
defaults write com.apple.Terminal SecureKeyboardEntry -bool true

# Hide the line marks
defaults write com.apple.Terminal ShowLineMarks -bool false

################################################################################
# Restart                                                                      #
################################################################################

killall Dock
killall Finder
killall SystemUIServer

{{ end -}}
